body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#eb9797, #9ca3e9);
}

a {
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}

.container b {
  font-size: 19px;
}

.circle {
  display: flex; align-items: center; justify-content: center;  
  width: 70px;
  height: 70px;
  border-radius: 40%;
  background-color: rgb(223, 184, 214);
  box-shadow: 10px 7px 30px rgb(247, 124, 227);
  margin: 15px;
  float: left;  
}

.box:hover .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px black;
  background-color: #d1a0ff;
  transform: rotate(360deg);
  transition-duration: 1s;
}

.box:hover {
  transition-duration:350ms;
  font-size: 19px;
  width: 350px;
  white-space: nowrap;
  transform: translateX(5px) translateY(-15px);
}

.box {
    width: 350px;
    height: 100px;
    margin: 50px;
  }
